nodered/nodered_dashboard4TINYGS.json
[{"id":"765ec086.e6057","type":"tab","label":"McOrts LoRa Ground Station","disabled":false,"info":""},{"id":"f666e101.33d4c","type":"tab","label":"Norbi","disabled":false,"info":""},{"id":"1d22a291.2f687d","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#0080ff","baseFont":"Arial Narrow,Nimbus Sans L,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#0080ff","edited":true},"page-titlebar-backgroundColor":{"value":"#0080ff","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#4da6ff","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#0080ff","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial Narrow,Nimbus Sans L,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"McOrts Ground Stations","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":40,"sy":40,"gx":6,"gy":6,"cx":0,"cy":0,"px":0,"py":0}}},{"id":"7be0791b.014d48","type":"ui_group","z":"","name":"FabLab Mallorca station","tab":"9e8dc640.cd8878","order":2,"disp":true,"width":"9","collapse":true},{"id":"9e8dc640.cd8878","type":"ui_tab","z":"","name":"McOrts' Satellite Ground stations ","icon":"satellite","order":7,"disabled":false,"hidden":false},{"id":"e0b7bf18.aa3fd","type":"mqtt-broker","z":"","name":"mqtt.tinygs.com","broker":"mqtt.tinygs.com","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"42c14668.0e96c8","type":"ui_group","z":"","name":"Satellite NORBI Info","tab":"9e8dc640.cd8878","order":3,"disp":true,"width":"9","collapse":false},{"id":"25fa9a5e.d2fb26","type":"ui_group","z":"","name":"McOrts station","tab":"9e8dc640.cd8878","order":1,"disp":true,"width":"9","collapse":true},{"id":"621bbdc7.a1fb54","type":"ui_link","z":"","name":"Link 2","link":"https://tinygs.com/","icon":"open_in_browser","target":"newtab","order":2},{"id":"d92fccd4.0b817","type":"MySQLdatabase","z":"","name":"","host":"192.168.1.114","port":"3306","db":"measurements","tz":"","charset":""},{"id":"cae1780d.8456b8","type":"ui_spacer","name":"spacer","group":"7be0791b.014d48","order":9,"width":3,"height":1},{"id":"8f8fb96.7f9f348","type":"ui_spacer","name":"spacer","group":"25fa9a5e.d2fb26","order":9,"width":3,"height":1},{"id":"ae7693c.9630e7","type":"ui_chart","z":"765ec086.e6057","name":"","group":"7be0791b.014d48","order":6,"width":9,"height":4,"label":"","chartType":"line","legend":"true","xformat":"HH","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff8000","#8080ff","#000000","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":260,"wires":[[]]},{"id":"7e45735a.1b66fc","type":"inject","z":"765ec086.e6057","name":"reset","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":400,"wires":[["ae7693c.9630e7","665ec918.a18e68","76274e61.eb885"]]},{"id":"cc0143d1.0572f","type":"inject","z":"765ec086.e6057","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":43,"wires":[["63fd9dee.ad0324","1fb91346.ab495d"]]},{"id":"c96b9045.4e3df","type":"mqtt in","z":"765ec086.e6057","name":"","topic":"tinygs/401761079/FabLab_Mallorca/cmnd/frame/0","qos":"2","datatype":"auto","broker":"e0b7bf18.aa3fd","x":250,"y":220,"wires":[["b83d41f3.07fbd","e69ea20.72d6e6"]]},{"id":"b83d41f3.07fbd","type":"json","z":"765ec086.e6057","name":"","property":"payload","action":"","pretty":false,"x":310,"y":300,"wires":[["a87aa2c4.f3bcd"]]},{"id":"acf9ff6.02b6c","type":"mqtt in","z":"765ec086.e6057","name":"","topic":"tinygs/401761079/McOrts/cmnd/frame/0","qos":"2","datatype":"auto","broker":"e0b7bf18.aa3fd","x":210,"y":563,"wires":[["9e38cba8.427668","182d8804.a132a8"]]},{"id":"9e38cba8.427668","type":"json","z":"765ec086.e6057","name":"","property":"payload","action":"","pretty":false,"x":290,"y":663,"wires":[["6610dec4.94abe"]]},{"id":"a87aa2c4.f3bcd","type":"function","z":"765ec086.e6057","name":"Parse","func":"var str=\"\";\nvar pi = 0;\nvar pf = 0;\n\nstr = msg.payload[2][4]\npi = str.search(\":-\")+1;\npf = str.search(\"/-\");\nvar rssi={}\nrssi.topic = \"rssi\";\nrssi.payload = parseInt(str.substring(pi,pf));\n\npi = str.search(\"/-\")+1;\npf = str.length-2;\nvar snr = {};\nsnr.topic = \"SNR\";\nsnr.payload = parseInt(str.substring(pi,pf));\n\nvar frequency_connection={};\nfrequency_connection.topic = \"KHz Doppler\";\nstr = msg.payload[3][4];\nfrequency_connection.payload = flow.get(\"freq\").payload + (parseInt(str.substring(12,str.length-2)) / 1000);\n\nvar satellite={};\nsatellite.topic = \"Satellite\";\nsatellite.payload = msg.payload[0][4];\n\nvar crc={};\ncrc.topic = \"CRC Ok\";\nif (msg.payload[4][4] === \"CRC ERROR\" || msg.payload[4][4] === \"CRC_ERROR\"){\n    crc.payload = parseInt(0);\n} else {\n    crc.payload = parseInt(500);\n}\n\nreturn [flow.get(\"mode\"),flow.get(\"freq\"),frequency_connection,flow.get(\"sf\"),flow.get(\"cr\"),snr,flow.get(\"bw\"),rssi,crc,satellite];","outputs":10,"noerr":0,"x":550,"y":300,"wires":[["8fb13ca5.439f7"],["ae7693c.9630e7"],["ae7693c.9630e7"],["665ec918.a18e68"],["665ec918.a18e68"],["1f355b40.47d615","665ec918.a18e68"],["76274e61.eb885"],["34bcf678.d470ca","76274e61.eb885"],["76274e61.eb885"],["68e037fd.3417f8","ecf6ba06.85cd78"]]},{"id":"8fb13ca5.439f7","type":"ui_text","z":"765ec086.e6057","group":"7be0791b.014d48","order":4,"width":2,"height":1,"name":"","label":"Modulat.","format":"{{msg.payload}}","layout":"col-center","x":980,"y":220,"wires":[]},{"id":"665ec918.a18e68","type":"ui_chart","z":"765ec086.e6057","name":"","group":"7be0791b.014d48","order":7,"width":6,"height":5,"label":"","chartType":"line","legend":"true","xformat":"HH","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#64c4a9","#e4f65a","#ec4b63","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":300,"wires":[[]]},{"id":"76274e61.eb885","type":"ui_chart","z":"765ec086.e6057","name":"","group":"7be0791b.014d48","order":11,"width":9,"height":4,"label":"","chartType":"line","legend":"true","xformat":"HH","interpolate":"step","nodata":"","dot":false,"ymin":"-200","ymax":"600","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00ff7b","#8080ff","#f7f7f7","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":340,"wires":[[]]},{"id":"1f355b40.47d615","type":"ui_gauge","z":"765ec086.e6057","name":"","group":"7be0791b.014d48","order":8,"width":3,"height":2,"gtype":"gage","title":"SNR","label":"dB","format":"{{value}}","min":"-20","max":10,"colors":["#ca3838","#e6e600","#00ba00"],"seg1":"","seg2":"","x":790,"y":420,"wires":[],"info":"Typical LoRa SNR values are between: -20dB and +10dB A value closer to +10dB means the received signal is less corrupted. LoRa can demodulate signals which are -7.5 dB to -20 dB below the noise floor"},{"id":"34bcf678.d470ca","type":"ui_gauge","z":"765ec086.e6057","name":"","group":"7be0791b.014d48","order":10,"width":3,"height":2,"gtype":"gage","title":"RSSI","label":"mW","format":"{{value}}","min":"-100","max":"-140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":420,"wires":[],"info":"RSSI. The Received Signal Strength Indication (RSSI) is the received signal power in milliwatts and is measured in dBm. This value can be used as a measurement of how well a receiver can “hear” a signal from a sender."},{"id":"f0ab3893.e78fa8","type":"ui_chart","z":"765ec086.e6057","name":"","group":"25fa9a5e.d2fb26","order":6,"width":9,"height":4,"label":"","chartType":"line","legend":"true","xformat":"HH","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff8000","#8080ff","#000000","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":623,"wires":[[]]},{"id":"5e2470ab.d4a74","type":"inject","z":"765ec086.e6057","name":"reset","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":783,"wires":[["f0ab3893.e78fa8","b852d639.821bc8","84efc828.da15f8"]]},{"id":"6610dec4.94abe","type":"function","z":"765ec086.e6057","name":"Parse","func":"var str=\"\";\nvar pi = 0;\nvar pf = 0;\n\nstr = msg.payload[2][4]\npi = str.search(\":-\")+1;\npf = str.search(\"/-\");\nvar rssi={}\nrssi.topic = \"rssi\";\nrssi.payload = parseInt(str.substring(pi,pf));\n\npi = str.search(\"/-\")+1;\npf = str.length-2;\nvar snr = {};\nsnr.topic = \"SNR\";\nsnr.payload = parseInt(str.substring(pi,pf));\n\nvar frequency_connection={};\nfrequency_connection.topic = \"KHz Doppler\";\nstr = msg.payload[3][4];\nfrequency_connection.payload = flow.get(\"freq\").payload + (parseInt(str.substring(12,str.length-2)) / 1000);\n\nvar satellite={};\nsatellite.topic = \"Satellite\";\nsatellite.payload = msg.payload[0][4];\n\nvar crc={};\ncrc.topic = \"CRC Ok\";\nif (msg.payload[4][4] === \"CRC ERROR\" || msg.payload[4][4] === \"CRC_ERROR\"){\n    crc.payload = parseInt(0);\n} else {\n    crc.payload = parseInt(500);\n}\n\nreturn [flow.get(\"mode\"),flow.get(\"freq\"),frequency_connection,flow.get(\"sf\"),flow.get(\"cr\"),snr,flow.get(\"bw\"),rssi,crc,satellite];","outputs":10,"noerr":0,"x":550,"y":663,"wires":[["c2df6dfa.49ded"],["f0ab3893.e78fa8"],["f0ab3893.e78fa8"],["b852d639.821bc8"],["b852d639.821bc8"],["13d2f1a5.dfe1ce","b852d639.821bc8"],["84efc828.da15f8"],["18d4149d.6bc69b","84efc828.da15f8"],["84efc828.da15f8"],["a30a15c1.f160a8","b3f6ce03.8049"]]},{"id":"c2df6dfa.49ded","type":"ui_text","z":"765ec086.e6057","group":"25fa9a5e.d2fb26","order":4,"width":2,"height":1,"name":"","label":"Modulat.","format":"{{msg.payload}}","layout":"col-center","x":980,"y":583,"wires":[]},{"id":"b852d639.821bc8","type":"ui_chart","z":"765ec086.e6057","name":"","group":"25fa9a5e.d2fb26","order":7,"width":6,"height":5,"label":"","chartType":"line","legend":"true","xformat":"HH","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#64c4a9","#e4f65a","#ec4b63","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":663,"wires":[[]]},{"id":"b3f6ce03.8049","type":"function","z":"765ec086.e6057","name":"add station","func":"msg.payload = \"Mcorts:\" + msg.payload;\nreturn [msg];","outputs":1,"noerr":0,"x":1010,"y":743,"wires":[["a8cb1f3d.5fb1"]],"outputLabels":["Sunset"]},{"id":"84efc828.da15f8","type":"ui_chart","z":"765ec086.e6057","name":"","group":"25fa9a5e.d2fb26","order":11,"width":9,"height":4,"label":"","chartType":"line","legend":"true","xformat":"HH","interpolate":"step","nodata":"","dot":false,"ymin":"-200","ymax":"600","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00ff7b","#8080ff","#fffafa","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":970,"y":703,"wires":[[]]},{"id":"13d2f1a5.dfe1ce","type":"ui_gauge","z":"765ec086.e6057","name":"","group":"25fa9a5e.d2fb26","order":8,"width":3,"height":2,"gtype":"gage","title":"SNR","label":"dB","format":"{{value}}","min":"-20","max":10,"colors":["#ca3838","#e6e600","#00ba00"],"seg1":"","seg2":"","x":790,"y":783,"wires":[],"info":"Typical LoRa SNR values are between: -20dB and +10dB A value closer to +10dB means the received signal is less corrupted. LoRa can demodulate signals which are -7.5 dB to -20 dB below the noise floor"},{"id":"18d4149d.6bc69b","type":"ui_gauge","z":"765ec086.e6057","name":"","group":"25fa9a5e.d2fb26","order":10,"width":3,"height":2,"gtype":"gage","title":"RSSI","label":"mW","format":"{{value}}","min":"-100","max":"-140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":783,"wires":[],"info":"RSSI. The Received Signal Strength Indication (RSSI) is the received signal power in milliwatts and is measured in dBm. This value can be used as a measurement of how well a receiver can “hear” a signal from a sender."},{"id":"176fbc55.f39994","type":"ui_text","z":"765ec086.e6057","group":"7be0791b.014d48","order":3,"width":6,"height":1,"name":"","label":"Last reception","format":"{{msg.payload}}","layout":"row-left","x":1000,"y":180,"wires":[]},{"id":"7350e513.39330c","type":"ui_text","z":"765ec086.e6057","group":"25fa9a5e.d2fb26","order":3,"width":6,"height":1,"name":"","label":"Last reception","format":"{{msg.payload}}","layout":"row-left","x":1000,"y":543,"wires":[]},{"id":"a30a15c1.f160a8","type":"function","z":"765ec086.e6057","name":"Current time to payload","func":"var today = new Date();\nvar date = today.getDate()+'/'+(today.getMonth()+1)+'/'+today.getFullYear();\nvar time = (today.getHours()+global.get('hours-gap')) + \":\" + today.getMinutes() + \":\" + today.getSeconds();\nmsg.payload = date+' '+time+' ('+msg.payload+')';\nreturn [msg];","outputs":1,"noerr":0,"x":630,"y":543,"wires":[["7350e513.39330c"]]},{"id":"5a235b8e.aeb5b4","type":"mqtt in","z":"765ec086.e6057","name":"","topic":"tinygs/401761079/FabLab_Mallorca/cmnd/begin","qos":"2","datatype":"auto","broker":"e0b7bf18.aa3fd","x":240,"y":160,"wires":[["2ecd853.a5a4d7a"]]},{"id":"c60c6153.caecb","type":"ui_text","z":"765ec086.e6057","group":"7be0791b.014d48","order":5,"width":4,"height":1,"name":"","label":"Listening","format":"{{msg.payload}}","layout":"col-center","x":980,"y":140,"wires":[]},{"id":"63fd9dee.ad0324","type":"ui_media","z":"765ec086.e6057","group":"7be0791b.014d48","name":"Yagi","width":2,"height":2,"order":2,"category":"ant","file":"yagi.jpg","layout":"adjust","showcontrols":true,"loop":true,"onstart":true,"scope":"local","tooltip":"","x":110,"y":280,"wires":[["5a051a34.78af64"]]},{"id":"1fb91346.ab495d","type":"ui_media","z":"765ec086.e6057","group":"25fa9a5e.d2fb26","name":"Dipole","width":2,"height":2,"order":2,"category":"ant","file":"aluminum.jpg","layout":"adjust","showcontrols":false,"loop":true,"onstart":true,"scope":"local","tooltip":"","x":110,"y":623,"wires":[["6382abe1.0ec904"]]},{"id":"9b9b1d78.28a94","type":"comment","z":"765ec086.e6057","name":"Heath Check","info":"","x":130,"y":923,"wires":[]},{"id":"2cba722a.8d306e","type":"ping","z":"765ec086.e6057","mode":null,"name":"","host":"192.168.1.64","timer":"1800","inputs":0,"x":130,"y":983,"wires":[["ed935cb5.773d8","9054071d.4dedc8","e1959a6e.70d098"]]},{"id":"ed935cb5.773d8","type":"switch","z":"765ec086.e6057","name":"Not ping","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":983,"wires":[["f3a87465.0ecc28"]]},{"id":"f3a87465.0ecc28","type":"change","z":"765ec086.e6057","name":"alert message","rules":[{"t":"set","p":"payload","pt":"msg","to":"FabLab NOT ALIVE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":983,"wires":[["a8cb1f3d.5fb1"]]},{"id":"9054071d.4dedc8","type":"function","z":"765ec086.e6057","name":"Label & Color","func":"if (msg.payload === false){\n    msg.payload = \"Not alive\";\n    msg.topic = \"alive\";\n    msg.colour = \"red\";\n} else {\n    msg.payload = \"Alive\";\n    msg.topic = \"alive\";\n    msg.colour = \"green\";\n}\nreturn [msg];","outputs":1,"noerr":0,"x":580,"y":1043,"wires":[["6327f002.543d5"]],"outputLabels":["Sunset"]},{"id":"6327f002.543d5","type":"ui_button","z":"765ec086.e6057","name":"","group":"7be0791b.014d48","order":13,"width":2,"height":2,"passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":790,"y":1043,"wires":[[]]},{"id":"e1959a6e.70d098","type":"ui_chart","z":"765ec086.e6057","name":"","group":"7be0791b.014d48","order":12,"width":7,"height":3,"label":"Ping 192.168.1.64","chartType":"line","legend":"false","xformat":"HH","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2ad53e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":390,"y":1043,"wires":[[]]},{"id":"38419346.a3549c","type":"ping","z":"765ec086.e6057","mode":null,"name":"","host":"192.168.1.103","timer":"1800","inputs":0,"x":130,"y":1103,"wires":[["5b3310e.568e4f","5c95e5aa.0805fc","5c338f3b.5d6ab"]]},{"id":"5b3310e.568e4f","type":"switch","z":"765ec086.e6057","name":"Not ping","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":1103,"wires":[["8d94dd61.3f2ec"]]},{"id":"8d94dd61.3f2ec","type":"change","z":"765ec086.e6057","name":"alert message","rules":[{"t":"set","p":"payload","pt":"msg","to":"McOrts NOT ALIVE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":586,"y":1103,"wires":[["a8cb1f3d.5fb1"]]},{"id":"5c95e5aa.0805fc","type":"function","z":"765ec086.e6057","name":"Label & Color","func":"if (msg.payload === false){\n    msg.payload = \"Not alive\";\n    msg.topic = \"alive\";\n    msg.colour = \"red\";\n} else {\n    msg.payload = \"Alive\";\n    msg.topic = \"alive\";\n    msg.colour = \"green\";\n}\nreturn [msg];","outputs":1,"noerr":0,"x":586,"y":1143,"wires":[["723a1747.045418"]],"outputLabels":["Sunset"]},{"id":"723a1747.045418","type":"ui_button","z":"765ec086.e6057","name":"","group":"25fa9a5e.d2fb26","order":13,"width":2,"height":2,"passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"","payloadType":"str","topic":"","x":796,"y":1143,"wires":[[]]},{"id":"5c338f3b.5d6ab","type":"ui_chart","z":"765ec086.e6057","name":"","group":"25fa9a5e.d2fb26","order":12,"width":7,"height":3,"label":"Ping 192.168.1.103","chartType":"line","legend":"false","xformat":"HH","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#2ad53e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":390,"y":1163,"wires":[[]]},{"id":"bd94601b.09c63","type":"inject","z":"765ec086.e6057","name":"reset","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":943,"wires":[["5c338f3b.5d6ab"]]},{"id":"5f8fca99.1f07b4","type":"inject","z":"765ec086.e6057","name":"Test2:Inject frame","topic":"tinygs/401761079/FabLab_Mallorca/cmnd/frame/0","payload":"[[1,0,0,0,\"Norby\"],[1,0,0,11,\"Last Packet:   18:21\"],[1,0,0,23,\"RSSI/SNR:-129.0/-13.0dB\"],[1,2,64,34,\"Freq error: 14946.40Hz\"],[1,2,64,45,\"CONFIRMED\"]]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":540,"y":40,"wires":[["9e38cba8.427668"]]},{"id":"182d8804.a132a8","type":"template","z":"765ec086.e6057","name":"Format data open","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `tinygs`(`station_id`, `frame`) VALUES('McOrts', '{{payload}}')","output":"str","x":150,"y":863,"wires":[["dd92a839.438628"]]},{"id":"dd92a839.438628","type":"mysql","z":"765ec086.e6057","mydb":"d92fccd4.0b817","name":"measurements","x":380,"y":843,"wires":[[]]},{"id":"e69ea20.72d6e6","type":"template","z":"765ec086.e6057","name":"Format data open","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `tinygs`(`station_id`, `frame`) VALUES('FabLab_Mallorca', '{{payload}}')","output":"str","x":150,"y":823,"wires":[["dd92a839.438628"]]},{"id":"a8cb1f3d.5fb1","type":"http request","z":"765ec086.e6057","name":"Request to IFTTT Carlos","method":"GET","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/TinyGS/with/key/???????????value1={{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":940,"wires":[[]]},{"id":"ee400a23.3ac0f8","type":"inject","z":"765ec086.e6057","name":"Test1:Inject begin","topic":"tinygs/401761079/FabLab_Mallorca/cmnd/begin","payload":"{\"mode\":\"LoRa\",\"freq\":436.703,\"bw\":250.0,\"sf\":10,\"cr\":5,\"sw\":18,\"pwr\":5,\"cl\":120,\"pl\":8,\"gain\":0,\"crc\":true,\"fldro\":1,\"sat\":\"Norbi\",\"NORAD\":46494}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":40,"wires":[["2ecd853.a5a4d7a","fc2579de.40b038"]]},{"id":"fa306561.25a468","type":"function","z":"765ec086.e6057","name":"Parse","func":"flow.set(\"mode\",{payload: msg.payload.mode, topic: \"Mode\" });\n\nvar frequency = {payload: msg.payload.freq}\nfrequency.topic = \"KHz\";\nfrequency.payload = parseFloat(frequency.payload).toFixed(3) * 1000;\nflow.set(\"freq\",frequency);\n\nflow.set(\"bw\",{payload: msg.payload.bw, topic: \"Bandwidth\" });\nflow.set(\"sf\",{payload: msg.payload.sf, topic: \"Spreading Factor\" });\nflow.set(\"cr\",{payload: msg.payload.cr, topic: \"Coding Rate\" });\nflow.set(\"sw\",{payload: msg.payload.sw, topic: \"SW\" });\nflow.set(\"pwr\",{payload: msg.payload.pwr, topic: \"Power\" });\nflow.set(\"cl\",{payload: msg.payload.cl, topic: \"cl\" });\nflow.set(\"pl\",{payload: msg.payload.pl, topic: \"pl\" });\nflow.set(\"gain\",{payload: msg.payload.gain, topic: \"Gain\" });\nflow.set(\"crc\",{payload: msg.payload.crc, topic: \"CRC OK\" });\nflow.set(\"fldro\",{payload: msg.payload.fldro, topic: \"fldro\" });\nflow.set(\"sat\",{payload: msg.payload.sat, topic: \"Satellite\" });\nflow.set(\"NORAD\",{payload: msg.payload.NORAD, topic: \"NORAD Number\" });\n\nreturn [flow.get(\"sat\")];","outputs":1,"noerr":0,"x":730,"y":140,"wires":[["c60c6153.caecb"]]},{"id":"2ecd853.a5a4d7a","type":"json","z":"765ec086.e6057","name":"","property":"payload","action":"","pretty":false,"x":570,"y":140,"wires":[["fa306561.25a468"]]},{"id":"68e037fd.3417f8","type":"function","z":"765ec086.e6057","name":"Current time to payload","func":"var today = new Date();\nvar date = today.getDate()+'/'+(today.getMonth()+1)+'/'+today.getFullYear();\nvar time = (today.getHours()+global.get('hours-gap')) + \":\" + today.getMinutes() + \":\" + today.getSeconds();\nmsg.payload = date+' '+time+' ('+msg.payload+')';\nreturn [msg];","outputs":1,"noerr":0,"x":650,"y":180,"wires":[["176fbc55.f39994"]]},{"id":"a91bfc18.dd6f3","type":"inject","z":"765ec086.e6057","name":"Hours gap","topic":"HoursGap","payload":"2","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":750,"y":40,"wires":[["c600f34e.79f49"]]},{"id":"c600f34e.79f49","type":"function","z":"765ec086.e6057","name":"Store global hours-gap","func":"global.set('hours-gap',Number(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":40,"wires":[[]]},{"id":"db7b51fa.59a84","type":"ui_template","z":"765ec086.e6057","group":"7be0791b.014d48","name":"Web access","order":14,"width":2,"height":1,"format":"<div>\n    <a href=\"http://192.168.1.64/\"><span>Web access</span></a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":410,"y":100,"wires":[[]]},{"id":"ecf6ba06.85cd78","type":"function","z":"765ec086.e6057","name":"add station","func":"msg.payload = \"FabLab:\" + msg.payload;\nreturn [msg];","outputs":1,"noerr":0,"x":1010,"y":380,"wires":[["a8cb1f3d.5fb1"]],"outputLabels":["Sunset"]},{"id":"8d43610c.9357f","type":"comment","z":"765ec086.e6057","name":"Store frames","info":"","x":130,"y":763,"wires":[]},{"id":"b5da9b5e.444058","type":"ui_template","z":"765ec086.e6057","group":"25fa9a5e.d2fb26","name":"Web access","order":14,"width":2,"height":1,"format":"<div>\n    <a href=\"http://192.168.1.103/\"><span>Web access</span></a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":350,"y":443,"wires":[[]]},{"id":"b8efd3f8.d0f87","type":"ui_text","z":"765ec086.e6057","group":"25fa9a5e.d2fb26","order":5,"width":4,"height":1,"name":"","label":"Listening","format":"{{msg.payload}}","layout":"col-center","x":980,"y":503,"wires":[]},{"id":"abd4c94e.1739e8","type":"function","z":"765ec086.e6057","name":"Parse","func":"flow.set(\"mode\",{payload: msg.payload.mode, topic: \"Mode\" });\n\nvar frequency = {payload: msg.payload.freq}\nfrequency.topic = \"KHz\";\nfrequency.payload = parseFloat(frequency.payload).toFixed(3) * 1000;\nflow.set(\"freq\",frequency);\n\nflow.set(\"bw\",{payload: msg.payload.bw, topic: \"Bandwidth\" });\nflow.set(\"sf\",{payload: msg.payload.sf, topic: \"Spreading Factor\" });\nflow.set(\"cr\",{payload: msg.payload.cr, topic: \"Coding Rate\" });\nflow.set(\"sw\",{payload: msg.payload.sw, topic: \"SW\" });\nflow.set(\"pwr\",{payload: msg.payload.pwr, topic: \"Power\" });\nflow.set(\"cl\",{payload: msg.payload.cl, topic: \"cl\" });\nflow.set(\"pl\",{payload: msg.payload.pl, topic: \"pl\" });\nflow.set(\"gain\",{payload: msg.payload.gain, topic: \"Gain\" });\nflow.set(\"crc\",{payload: msg.payload.crc, topic: \"CRC OK\" });\nflow.set(\"fldro\",{payload: msg.payload.fldro, topic: \"fldro\" });\nflow.set(\"sat\",{payload: msg.payload.sat, topic: \"Satellite\" });\nflow.set(\"NORAD\",{payload: msg.payload.NORAD, topic: \"NORAD Number\" });\n\nreturn [flow.get(\"sat\")];","outputs":1,"noerr":0,"x":730,"y":503,"wires":[["b8efd3f8.d0f87"]]},{"id":"fc2579de.40b038","type":"json","z":"765ec086.e6057","name":"","property":"payload","action":"","pretty":false,"x":550,"y":503,"wires":[["abd4c94e.1739e8"]]},{"id":"715a30ea.60e56","type":"mqtt in","z":"765ec086.e6057","name":"","topic":"tinygs/401761079/McOrts/cmnd/begin","qos":"2","datatype":"auto","broker":"e0b7bf18.aa3fd","x":210,"y":503,"wires":[["fc2579de.40b038"]]},{"id":"409dd602.472a38","type":"ui_iframe","z":"f666e101.33d4c","group":"42c14668.0e96c8","name":"","order":1,"width":9,"height":18,"url":"https://tinygs.com/satellite/Norbi","origin":"*","scale":"75","x":110,"y":60,"wires":[[]]},{"id":"5a051a34.78af64","type":"ui_text","z":"765ec086.e6057","group":"7be0791b.014d48","order":1,"width":1,"height":2,"name":"","label":"","format":"Y a g i","layout":"row-left","x":120,"y":340,"wires":[]},{"id":"6382abe1.0ec904","type":"ui_text","z":"765ec086.e6057","group":"25fa9a5e.d2fb26","order":1,"width":1,"height":2,"name":"","label":"","format":"D i p o l e","layout":"row-center","x":110,"y":663,"wires":[]},{"id":"6ccbed4c.6649b4","type":"comment","z":"765ec086.e6057","name":"McOrts ground station","info":"","x":160,"y":443,"wires":[]},{"id":"edab01f2.d4547","type":"comment","z":"765ec086.e6057","name":"FabLab Mallorca ground station","info":"","x":190,"y":100,"wires":[]}]